.App {
}

.App-header {
  background-color: #222;
  height: 3vh;
  padding: 2vh 3vw;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

li {
  list-style-type: none;
  margin: 2vh 0;
}

.jokeList {
  width: 30vw;
  margin: 1vh 2vw;
}

.jl {
  margin: 1vh 0;
}

.funnyCharacter {
  margin-left: 0.5em;
}

.current {
  background-color: #FFEB7F;
}

.currentJoke {
  margin: 4vh 2vw;
}

.q, .punchline, .controls {
  font-size: 1.5em;
  margin: 1vh 0;
}

button {
  margin-right: 1vw;
}
